html,body{height:100%;}

body{
    margin:0;
    font-family:"Inter", "Helvetica Neue", Arial;
}

/* ===== Page layout ===== */
header{
    width:fill;
    background:#4a4949;
    color:#fff;
    height:var(--header-height);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:14px 22px;
    box-shadow:0 2px 0 rgba(0,0,0,0.2) inset;
    position:sticky;

}

/* search in center */
.nav-center{
    flex:1;
    display:flex;
    justify-content:center;
    padding: 0 18px;
}
.search{
    width:50%;
    max-width:70%;
    display:flex;
    align-items:center;
    background:#e9e9e9;
    padding:10px 18px;
    border-radius:16px;
    box-shadow:6px 8px 10px rgba(0,0,0,0.12);
}
.search input{
    border:0; 
    width: 50px;
    background:transparent; 
    outline:none;
    font-size:16px; flex:1;
}
.search button{
    border:0; 
    background:transparent; 
    font-size:18px; 
    cursor:pointer;
}


.nav-right{
    display:flex;
    gap:18px;
    align-items:center;
    font-weight:1000;
    font-size:25px;
    padding-right:10px;
}

.nav-right a{
    color: inherit;
    text-decoration: none;
    text-shadow:6px 8px 6px rgba(0,0,0,0.12);
}


main{
    max-width:var(--max-width);
    margin:28px auto;
    padding: 0 20px 80px;
}


.product-grid{
    padding-top:50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(210px,1fr));
    gap:29px;
    align-items:start;
}

.card{
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:10px;

}

/*overide bootstraps*/
div.card {
    border: transparent !important;
    background-color: #ece9e9 !important;
    border-radius: 12px !important;
}
.product-template-card {
    border: transparent;
    width: 70%;
    padding:20px;
    border-radius: none;
}


.prod-img{
    width:100%;
    height:270px;
    object-fit:cover;
    border-radius:11px;
    display:block;
}


.card p{
    margin:0;
    font-weight:900;
    font-size:18px;
    color:var(--muted);
}

.price-row{
    margin-top:auto; 
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:8px;
}
.product-template-card-row{
    margin-top:auto; 
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:8px;
}
.price{
    font-size:26px;
    font-weight:700;
}
.cart-btn{
    width:50px; height:35px;
    padding:4px 10px 4px 10px;
    border:2px solid rgba(0,0,0,0.08);
    border-radius: 11px;
    border-color: #000000;
    display:flex; 
    align-items:center; 
    justify-content:center;
    background:transparent;
    cursor:pointer;
}
.size-btn{
    font-weight: 600;
    width:60px; height:34px;
    padding:4px 10px 4px 10px;
    border:2px solid rgba(0,0,0,0.08);
    border-radius: 5px;
    border-color: #a19d9d;
    display:flex; 
    align-items:center; 
    justify-content:center;
    background:transparent;
    cursor:pointer;
}

footer{
    background:#131212;
    color:#ddd;
    padding:14px 20px;
    text-align:left;
    font-size:13px;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    box-shadow:0 -4px 18px rgba(0,0,0,0.3);
}

.subject{
    font-weight: bold;
    padding-right: 20px;
}
#about-pd{
    padding-top: 30px;
}
.add-to-cart{
    border-radius:20px;
    background-color: black;
    color: white
}


/* responsive tweaks */
@media (max-width:720px){
    .search{ width:90%; }
    header{padding:10px}
    .brand h1{font-size:16px}
    .product-grid{ gap:14px }
}